extends layout

block content
  h1= title
  form(action="", method="post") 
    input(type="text", name="title")
    <br/>
    textarea(name="contents", cols="30", rows="10")
    br
    input(type="submit", value="submit")